<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Emil Kozicki">
    <title>Login Page</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body>
    <main>
        <p class="text-center">Welcome to Edu Tree! Please, log in to begin.</p>
        <div class="mainClass">
            <div class="container-img">
                <img src="static/images/Logo.png">
            </div>
            <div class="container-content">
                <h2 class="text-center2">Log in with your NinerID:</h2>
                <form action="/authenticate" method="POST">
                    <div>
                        <input type="email" name="email" id="email" placeholder="Email" required>
                    </div>

                    <div>
                        <input type="password" name="password" id="password" placeholder="Password" required>
                    </div>
                
                    <div class="btn">
                        <input type="submit" name="submit" id ="submit" value="Sign in">
                    </div>

                </form>
            </div> 
        </div>
    </main>
</body>
</html>